body {
    margin: 0;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: rgba(234, 234, 234, 0.937);
    background-image: url(395656.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    border: 2px solid rgba(255, 255, 255, 0.012);
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
    padding-top: 0px;
    padding-bottom: 2px;
    transition: all .3s;
}


h1 {
    text-shadow: 3px 3px 3px rgba(235, 98, 35, 0.748);
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 1.5;

}

header button {
    border: 1px solid rgba(255, 255, 255, 0.612);
    margin: 3px;
    margin-left: 5px;
    font-size: 0.8rem;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.94);
    color: rgb(227, 226, 226);
    text-shadow: 3px 3px 3px hsla(0, 1%, 55%, 0.216);
    transition: all 0.3s;
  }
  
  header button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: none;
  }

#nav-button-div {
    display: flex;
    flex-direction: column;
}

#nav-button-div button {
    border: 3px solid rgba(255, 255, 255, 0.612);
    margin: 30px;
    font-size: 2rem;
    width: 70vw;
    height: 100px;
    border-radius: 50px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, .8);
    background-color: rgba(0, 0, 0, .94);
    color: rgb(211, 187, 182);
    text-shadow: 3px 3px 3px hsla(0, 1%, 55%, 0.216);
    transition: all .3s;
}

#nav-button-div button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: none;
}

#registrationform {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.864);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 5px 5px 5px rgba(235, 98, 35, 0.442);
    text-shadow: 3px 3px 3px rgba(235, 98, 35, 0.748)
}


#passwordfield {
    margin: 10px;
    font-weight: 600;
}

#passwordfield input {
    height: 20px;
    padding: 10px 17px;
    width: 200px;
    border-radius: 20px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    outline: .5px solid rgba(235,97,35);
    transition: all .8s;
}

#passwordfield input:focus {
    border: none;
    box-shadow: 5px 5px 5px rgba(235,97,35);
}

#passwordfield label {
    margin-right: 10px;
}

#passwordcheckfield {
    margin: 10px;
    font-weight: 600;
}

#passwordcheckfield label {
    max-width: 75px;
    text-align: left;
    font-size: .7rem;
}

#passwordcheckfield input {
    height: 20px;
    padding: 10px 17px;
    border-radius: 20px;
    width: 200px;
    font-size: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    outline: .5px solid rgba(235,97,35);
    transition: all .8s;
}

#passwordcheckfield input:focus {
    border: none;
    box-shadow: 5px 5px 5px rgba(235,97,35);
}

#form-button-div {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}

#form-button-div button{
    height: 35px;
    width: 120px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 1px solid rgba(235,97,35);
    background-color: rgba(235,97,35);
    cursor: pointer;
    border: none;
    transition: all .2s;
}

#form-button-div button:hover {
    scale: 1.1;
    box-shadow: 3px 3px 5px rgba(9, 255, 0, 0.737);
    color: rgb(213, 213, 213);
}

#form-button-div button:active {
    scale: 1;
    box-shadow: none;
    opacity: .8;
}

#password-span {
    display: inline;
    font-size: .7rem;
    transition: all .5s;
    text-shadow: none;
}

#retype-password-span {
    display: inline;
    font-size: .7rem;
    transition: all .5s;
    text-shadow: none;
}